@import "./fonts.scss";
@import "./reset.scss";

:root {
  --blue: #0084b4;
  --gray: #657786;
  --black: #14171a;
  --white: #ffffff;
  --bg: #e6ecf0
}

body {
  font-family: Roboto, "Arial", sans-serif;
  background: var(--bg);

  @media(max-width: 850px) {
    background: var(--white);
  }
}

button {
  font-family: Roboto, "Arial", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0 auto;

  &--normal {
    max-width: 1335px;
    padding: 5px 30px;
  }

  &--narrow {
    max-width: 670px;
  }
}

.header {
  position: relative;
  background: var(--white);
}

.header__container {
  display: flex;

  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
}

.logo__name {
  margin-left: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: var(--blue);

  @media (max-width: 1300px) {
    &--hidden {
      display: none;
    }
  }
}

.auth__button {
  font-size: 14px;
  line-height: 19px;
  font-weight: 700;
  border: none;
  border-radius: 100px;
  padding: 10px 30px;

  &--login {
    background: var(--white);
    color: var(--blue);
  }

  &--signup {
    margin-left: 25px;

    background: var(--blue);
    color: var(--white);
  }
}

.cover {
  padding-bottom: 60px;
  background: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);

  @media (max-width: 850px) {
    padding-bottom: 0;
  }
}

.cover__image {
  width: 100%;
  object-fit: cover;
}

.main {
  margin-top: 2px;
}

.main__container {
  display: flex;


  @media(max-width: 850px) {
    flex-direction: column;
    position: relative;
    top: -95px;
    align-items: center;
    padding: 0;
  }

  @media(max-width: 400px) {
    top: -20px;
  }
}

.profile {
  width: 210px;
  max-height: 347px;
  position: relative;
  top: -180px;
  margin-right: 93px;

  @media (max-width: 1100px) {
    margin-right: 10px;
    top: -135px
  }

  @media (max-width: 850px) {
    margin-right: 0;
    top: 4px;
    align-self: flex-start;
    margin-left: 36px;
    margin-bottom: 10px;
  }

  @media (max-width: 400px) {
    display: flex;
    align-self: flex-end;
    width: 100%;
    align-items: flex-end;
  }
}

.profile__avatar {
  max-width: 210px;
  border: 5px solid var(--white);
  border-radius: 100px;

  @media (max-width: 1100px) {
    max-width: 140px;
  }

  @media (max-width: 400px) {
    max-width: 85px;
    margin-right: 10px;
  }
}

.profile__list {
  margin-top: 20px;
  margin-right: 10px;
}

.profile__item {
  font-size: 12px;
  line-height: 16px;
  color: var(--gray);
  display: flex;
  align-items: center;

  &--name {
    font-size: 25px;
    font-weight: 700;
    line-height: 33px;
    color: var(--black);

    @media (max-width: 400px) {
      font-size: 16px;
    }
  }

  &--registration {
    font-size: 12px;

    &::before {
      margin-right: 10px;
      content: url("./img/profile/calendar.svg");
    }

    @media (max-width: 400px) {
      font-size: 10px;
    }
  }

  &--location {
    margin-top: 10px;
    font-size: 12px;

    @media (max-width: 400px) {
      margin-top: 0;
      font-size: 10px;
    }

    &::before {
      margin-right: 10px;
      content: url("./img/profile/arrow.svg");
    }
  }
}

.tweets {
  position: absolute;
  top: -66px;

  @media (max-width: 850px) {
    display: flex;
    width: 100%;
    background: var(--white);
    top: -64px;
    border-top: 2px solid var(--bg);
  }
}

.tweets__container {
  max-height: 60px;
  display: flex;
}

.tweets__radio {
  display: none;

  &:checked+.tweets__label {
    border-bottom: 2px solid var(--blue);
  }
}

.tweets__label {
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.label__tweets {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.024em;
  color: var(--gray);
}

.label__amount {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: var(--blue);
}

.feed {
  max-width: 670px;
  position: relative;
  background: var(--white);

  @media(max-width: 850px) {
    margin-top: 80px;
  }
}

.feed__item {
  display: flex;
  align-items: flex-start;
}

.tweet {
  background: var(--white);
  padding: 10px;

  &:not(:last-child) {
    border-bottom: 2px solid var(--bg)
  }
}

.tweet__list {
  display: flex;
  background: var(--white);
  max-width: 670px;
}

.tweet__thumb {
  margin-right: 20px;
  max-width: 48px;
  border-radius: 100px;
}

.tweet__heading {
  margin-right: 15px;

  font-size: 14px;
  line-height: 19px;
  color: var(--gray);

  &--name {
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;

    color: var(--black);
  }

  &--data {
    position: relative;
    margin-right: 0;

    &::before {
      position: absolute;
      top: -3px;
      left: -7px;
      content: url("./img/tweet/dot.svg");
    }
  }
}

.tweet__info {
  display: flex;
}

.tweet__text {
  font-size: 14px;
  line-height: 20px;
  color: var(--black);
}

.like {
  margin-top: 10px;
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
}

.like__icon {
  margin-right: 5px;
}

.like__text {
  &--amount {
    font-size: 12px;
    line-height: 17px;
    color: var(--gray);
  }
}

.join-us {
  min-width: 250px;
  margin-left: auto;
  background: var(--white);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  max-height: 320px;

  .auth__button {
    &--signup {
      margin-top: 10px;
      margin-left: 0;
    }
  }

  @media (max-width: 1300px) {
    display: none;
  }
}

.join-us__heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: var(--black);
}

.join-us__text {
  margin-top: 10px;

  font-size: 14px;
  line-height: 19px;
  color: var(--gray);
}

.tweet-modal {
  width: 100%;
  height: 100%;

  @media (max-width: 1300px) {
    &--hidden {
      display: none;
    }
  }
}

.tweet-modal__wrapper {
  display: flex;
  align-items: center;
}

.tweet-modal__container {
  background-color: var(--white);

  max-width: 605px;
  padding: 30px 40px;
  margin: 0 auto;

  border-radius: 8px;
}

.tweet-modal__heading {
  &--name {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--black);
  }

  &--nick {
    font-size: 14px;
    line-height: 19px;
    color: var(--gray);
  }
}

.tweet-modal__thumb {
  max-width: 48px;
  border-radius: 100px;
  margin-right: 20px;
}

.tweet-modal__text {
  margin-top: 30px;

  font-size: 27px;
  line-height: 32px;
  letter-spacing: 0.027em;

  color: var(--black);
}

.tweet-modal__data {
  margin-top: 25px;

  font-size: 14px;
  line-height: 16px;
  color: var(--gray);
}

.likes {
  margin-top: 25px;

  display: flex;
  align-items: center;

  border-top: 1px solid #e6ecf0;
  border-bottom: 1px solid #e6ecf0;
  padding: 10px 0;
}

.likes__amount {
  margin-right: 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  color: var(--black);

  span {
    font-weight: 400;
    color: var(--gray);
  }
}

.likes__user {
  max-width: 18px;

  border-radius: 100px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.signup {
  margin-top: 10px;
  width: 100%;
  height: 100%;

  @media (max-width: 1300px) {
    &--hidden {
      display: none;
    }
  }
}

.signup__container {
  padding: 15px;
  max-width: 260px;
  margin: 0 auto;

  background: var(--white);
}

.signup__heading {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: var(--gray);
}

.form-signup {
  display: flex;
  flex-direction: column;
}

.form-signup__text {
  min-height: 30px;
  padding-left: 10px;
  border: 1px solid #e6ecf0;
  border-radius: 3px;
  margin-top: 15px;

  &:first-child {
    margin-top: 25px;
  }

  &::placeholder {
    color: #e6ecf0;
  }
}

.form-signup__button {
  margin-top: 25px;

  font-size: 14px;
  line-height: 19px;
  font-weight: 700;
  border: none;
  border-radius: 100px;
  padding: 6.5px 0;
  color: var(--white);
  background: var(--blue);
}

.login {
  margin-top: 10px;
  width: 100%;
  height: 100%;

  @media (max-width: 1300px) {
    &--hidden {
      display: none;
    }
  }
}

.login__container {
  padding: 15px;
  max-width: 260px;
  margin: 0 auto;

  background: var(--white);
}

.login__heading {
  font-size: 14px;
  line-height: 19px;
  color: var(--gray);
}

.form-login {
  display: flex;
  flex-direction: column;
}

.form-login__label {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 11px;
  margin-top: 15px;
  padding-left: 20px;
  user-select: none;
}

.form-login__checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.form-login__checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #FFFFFF;
  border-radius: 2px;
  border: 1px solid #66757F;
}

.form-login__label:checked~,
.form-login__checkmark {
  background-color: #2196F3;
}

.form-login__checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.form-login__label .form-login__checkbox:checked~.form-login__checkmark::after {
  display: block;
}

.form-login__label .form-login__checkmark:after {
  left: 4px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #66757F;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form-login__input {
  min-height: 30px;
  padding-left: 10px;
  border: 1px solid #e6ecf0;
  border-radius: 3px;

  &--text {
    margin-top: 10px;
  }

  &--password {
    margin-top: 15px;
  }

  &::placeholder {
    color: #e6ecf0;
  }
}

.form-login__button {
  margin-top: 25px;

  font-size: 14px;
  line-height: 19px;
  font-weight: 700;
  border: none;
  border-radius: 100px;
  padding: 6.5px 0;
  color: var(--white);
  background: var(--blue);
}