@import "./fonts.scss";
@import "./reset.scss";

:root {
  --blue: #0084b4;
  --gray: #657786;
  --black: #14171a;
  --white: #ffffff;
  --bg: #e6ecf0
}

body {
  font-family: Roboto, "Arial", sans-serif;
  background: var(--bg);

  @media(max-width: 850px) {
    background: var(--white);
  }
}

button {
  font-family: Roboto, "Arial", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  margin: 0 auto;

  &--normal {
    max-width: 1335px;
    padding: 5px 30px;
  }

  &--narrow {
    max-width: 670px;
  }
}

.like {
  margin-top: 10px;
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
}

.like__icon {
  margin-right: 5px;
}

.like__text {
  &--amount {
    font-size: 12px;
    line-height: 17px;
    color: var(--gray);
  }
}

.join-us {
  min-width: 250px;
  margin-left: auto;
  background: var(--white);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  max-height: 320px;

  .auth__button {
    &--signup {
      margin-top: 10px;
      margin-left: 0;
    }
  }

  @media (max-width: 1300px) {
    display: none;
  }
}

.join-us__heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: var(--black);
}

.join-us__text {
  margin-top: 10px;

  font-size: 14px;
  line-height: 19px;
  color: var(--gray);
}

.tweet-modal {
  width: 100%;
  height: 100%;

  @media (max-width: 1300px) {
    &--hidden {
      display: none;
    }
  }
}

.tweet-modal__wrapper {
  display: flex;
  align-items: center;
}

.tweet-modal__container {
  background-color: var(--white);

  max-width: 605px;
  padding: 30px 40px;
  margin: 0 auto;

  border-radius: 8px;
}

.tweet-modal__heading {
  &--name {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--black);
  }

  &--nick {
    font-size: 14px;
    line-height: 19px;
    color: var(--gray);
  }
}

.tweet-modal__thumb {
  max-width: 48px;
  border-radius: 100px;
  margin-right: 20px;
}

.tweet-modal__text {
  margin-top: 30px;

  font-size: 27px;
  line-height: 32px;
  letter-spacing: 0.027em;

  color: var(--black);
}

.tweet-modal__data {
  margin-top: 25px;

  font-size: 14px;
  line-height: 16px;
  color: var(--gray);
}

.likes {
  margin-top: 25px;

  display: flex;
  align-items: center;

  border-top: 1px solid #e6ecf0;
  border-bottom: 1px solid #e6ecf0;
  padding: 10px 0;
}

.likes__amount {
  margin-right: 15px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  color: var(--black);

  span {
    font-weight: 400;
    color: var(--gray);
  }
}

.likes__user {
  max-width: 18px;

  border-radius: 100px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.signup {
  margin-top: 10px;
  width: 100%;
  height: 100%;

  @media (max-width: 1300px) {
    &--hidden {
      display: none;
    }
  }
}

.signup__container {
  padding: 15px;
  max-width: 260px;
  margin: 0 auto;

  background: var(--white);
}

.signup__heading {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: var(--gray);
}

.form-signup {
  display: flex;
  flex-direction: column;
}

.form-signup__text {
  min-height: 30px;
  padding-left: 10px;
  border: 1px solid #e6ecf0;
  border-radius: 3px;
  margin-top: 15px;

  &:first-child {
    margin-top: 25px;
  }

  &::placeholder {
    color: #e6ecf0;
  }
}

.form-signup__button {
  margin-top: 25px;

  font-size: 14px;
  line-height: 19px;
  font-weight: 700;
  border: none;
  border-radius: 100px;
  padding: 6.5px 0;
  color: var(--white);
  background: var(--blue);
}

.login {
  margin-top: 10px;
  width: 100%;
  height: 100%;

  @media (max-width: 1300px) {
    &--hidden {
      display: none;
    }
  }
}

.login__container {
  padding: 15px;
  max-width: 260px;
  margin: 0 auto;

  background: var(--white);
}

.login__heading {
  font-size: 14px;
  line-height: 19px;
  color: var(--gray);
}

.form-login {
  display: flex;
  flex-direction: column;
}

.form-login__label {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 11px;
  margin-top: 15px;
  padding-left: 20px;
  user-select: none;
}

.form-login__checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.form-login__checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #FFFFFF;
  border-radius: 2px;
  border: 1px solid #66757F;
}

.form-login__label:checked~,
.form-login__checkmark {
  background-color: #2196F3;
}

.form-login__checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.form-login__label .form-login__checkbox:checked~.form-login__checkmark::after {
  display: block;
}

.form-login__label .form-login__checkmark:after {
  left: 4px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #66757F;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form-login__input {
  min-height: 30px;
  padding-left: 10px;
  border: 1px solid #e6ecf0;
  border-radius: 3px;

  &--text {
    margin-top: 10px;
  }

  &--password {
    margin-top: 15px;
  }

  &::placeholder {
    color: #e6ecf0;
  }
}

.form-login__button {
  margin-top: 25px;

  font-size: 14px;
  line-height: 19px;
  font-weight: 700;
  border: none;
  border-radius: 100px;
  padding: 6.5px 0;
  color: var(--white);
  background: var(--blue);
}