@import "styles/fonts";
@import "styles/reset";

:root {
  --blue: #0084b4;
  --gray: #657786;
  --black: #14171a;
  --white: #ffffff;
  --bg: #e6ecf0
}

body {
  font-family: Roboto, "Arial", sans-serif;
  background: var(--bg);

  @media(max-width: 850px) {
    background: var(--white);
  }
}

button {
  font-family: Roboto, "Arial", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
